.SportCard {
  width: 90vw;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: white;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 9px 2px rgb(170, 170, 170, .4);
}

.SportCard__open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.SportCard__buttons {
  height: 0;
  overflow: hidden;
  background: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 4px 9px 2px rgb(170, 170, 170, .4);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: height 200ms ease-out;
}

.SportCard__button {
  width: 30vw;
  background-color: white;
  font-size: 1rem;
  color: var(--flatBlue);
  padding: 15px;
  border: 2px solid rgba(0, 38, 82, .8);
  border-radius: 18px;
  box-shadow: 0px 4px 9px 2px rgb(170, 170, 170, .4);
}

.SportCard__button:hover {
  background-color: var(--flatBlue);
  color: white;
}