.SportCard {
  width: 90vw;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: white;
  margin-top: 12px;
  margin-bottom: 10px;
  border-radius: 1px;
  box-shadow: 0px 4px 9px 2px rgb(170, 170, 170, .4);
}

.SportCard img {
  max-width: 38%;
}

.SportCard__buttons {
  height: 0;
  margin-top: -10px;
  overflow: hidden;
  background: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 4px 9px 2px rgb(170, 170, 170, .4);
  transition: height 200ms ease-out;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.SportCard__myButtons {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.SportCard__button {
  width: 30vw;
  background-color: white;
  font-size: 1rem;
  color: var(--flatBlue);
  padding: 15px;
  border: 2px solid rgba(0, 38, 82, .8);
  border-radius: 18px;
  box-shadow: 0px 4px 9px 2px rgb(170, 170, 170, .4);
}

.SportCard__button:hover {
  background-color: var(--flatBlue);
  color: white;
}

.SportCard__JoinLeague {
  margin-top: -10px;
  height: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  transition: height 200ms ease-out;
}

.SportCard__JoinLeague__buttons {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.SkillLevel {
  max-width: 30%;
  color: var(--flatBlue)
}