body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: black;
  padding: none;
  margin: none;
}

:root {
  --white: rgb(217, 217, 235);
  --darkWhite: rgb(158, 158, 168);
  --blueGrad: linear-gradient(to left, rgb(1, 67, 114) 0%, rgb(0, 34, 73) 86%, rgba(0,38,82,1) 100%);
  --blueGradOpp: linear-gradient(to right, rgba(0,82,140,1) 0%, rgba(0,44,93,1) 86%, rgba(0,38,82,1) 100%);
}

* {
  box-sizing: border-box;
}