body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: black;
  padding: none;
  margin: none;
}

:root {
  --white: rgb(255, 255, 255);
  --darkWhite: rgb(219, 219, 219);
  --blueGrad: linear-gradient(to left, rgb(1, 67, 114) 0%, rgb(0, 34, 73) 86%, var(--flatBlue) 100%);
  --flatBlue: rgba(0,38,82,1);
}

* {
  box-sizing: border-box;
}