body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

:root {
  --white: rgb(217, 217, 235);
  --darkWhite: rgb(158, 158, 168);

  --blueGrad: linear-gradient(to left, rgba(0,82,140,1) 0%, rgba(0,44,93,1) 86%, rgba(0,38,82,1) 100%);
}