.title {
  margin-top: 8vh;
  color: Navy;
}

.divider {
  margin: 20px
}

h3 {
  margin-top: 80px;
  font-size: 1.6em;
  color: white;
}

.signUpContainer {
  height:100vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.0) ), url(/backgrounds/court-4.jpeg) no-repeat center top;
  background-size: cover;
  background-color: #00295A;
}

.signUpFormContainer {
  width:100vw
}

.signUpForm {
/*  display
  align-items: flex-start;*/
  width: 300px;
}

.divider {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 90vw;
}

.divider > span {
  font-size: 15px;
  margin-left: 20px;
  color:grey;
}

.divider > input {
  margin: 15px;
  border-radius: 5px;
  width: 80vw;
  height: 5vh;
  border: 0px;
   border-bottom: 1px solid lightgrey;
  /*border-color: black;*/
  font-size: 0.8em;
  font-weight: 500;
  text-align: center;
}


.SignUpButton {
  background: var(--blueGrad);
  color: white;
  height: 40px;
  width: 70vw;
  border-radius: 30px;
  padding: 0 50px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

/*.SignUp {
  margin-top: 50px;
}*/
