.Header {
  position: absolute;
  top: 0;
  width: 0vw;
  z-index: 10;
  display: flex;
}

.Header__hamburger {
  color: var(--white);
  margin-left: -9vw;
  margin-top: 4vh;
  font-size: 1.7rem;
  transition: all 1.1s;
  transform: translateX(-48vw);
  z-index: 10;
}

.Header__hamburger__open {
  transition: all 1.2s;
  transform: translateX(0);
}

.Header__drawer {
  width: 65vw;
  height: 100vh;
  transition: all 1.2s;
  transform: translateX(-65vw);
  display: flex;
  flex-direction: column;
  z-index: 5;
}


.Header__drawer__open {
  transition: all 1.1s;
  transform:translateX(0vw)
}


.Header_drawer__link {
  margin-top: 10px;
}
