.Header {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  z-index: 10;
}

.Header__hamburger {
  margin-left: -6vw;
  font-size: 1.7rem;
  transition: all 1.1s;
  transform: rotate(-360deg);
  transform: translateX(-48vw)
}

.Header__hamburger__open {
  transition: all 1.2s;
  transform: rotate(360deg);
}

.Header__drawer {
  width: 60vw;
  height: 200px;
  background-color: blanchedalmond;
  transition: all 1.2s;
  transform: translateX(-65vw)
}


.Header__drawer__open {
  transition: all 1.1s;
  transform:translateX(0vw)
  /* transform: rotate(360deg); */
}