.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dividerInfo {
  margin: 2vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.dividerInfo>span {
  font-size: 15px;
  color: grey;
}

.dividerInfo input[type=text] {
  width: 75vw;
  height: 5vh;
}

.dividerInfo input[type=time],
.dividerInfo input[type=date] {
  height: 5vh;
  width: 35vw;
  font-size: 1.25rem;
  margin-bottom: 6vh;
}

.infoForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.enter {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--flatBlue);
  color: white;
  width: 75vw;
  height: 5vh;
  border-radius: 30px;
}