.MyMatches {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.MyMatches__header {
  width: 100vw;
  height: 23vh;
  background-color: var(--flatBlue);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  box-shadow: 0px 4px 9px 2px rgb(170, 170, 170, .4);
}

.MyMatches__buttonFilter {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.MyMatches__buttonFilter button {
  background-color: var(--white);
  border: none;
  width: 22vw;
  padding: 5px;
  border: 1px solid var(--white);
  font-size: .9rem;
  color: var(--flatBlue);
  font-weight: bold;
  transition: all .2s;
}

.MyMatches__buttonFilter button:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.MyMatches__buttonFilter button:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.MyMatches__button__active {
  transition: all .2s;
  background-color: var(--flatBlue) !important;
  color: var(--white) !important;
}

.MyMatches__displayMatches {
  width: 100vw;
  height: 77vh;
  margin-top: 23vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: ghostwhite;
  overflow: hidden;
  overflow-y: scroll;
}