.matchDetailsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-color: ghostWhite;
}

.matchTitle {
  background: var(--blueGrad);
  height: 20vh;
  padding-top:10vh;
  color: white;
}

.matchOpponentStats {
  margin: 3vw;
}

.matchDetailsInfo {
  margin-bottom: 5vh;
}
