.Drawer {
  width: 65vw;
  height: 100vh;
  background: linear-gradient(to left, rgba(4, 38, 71, 1) 0%, rgba(0, 20, 41, 1) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 20;
  position: absolute;
  left: -65vw;
  overflow-y: auto;
  transition: all 0.8s;
}

.Drawer::-webkit-scrollbar {
  display: none;
}

.Drawer__logo {
  width: 60%;
  height: 10vh;
  margin-top: 5vh;
  color: var(--white)
}

.Drawer__button {
  width: 100%;
  height: 15vh;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.Drawer__button i {
  color: var(--white);
  font-size: 2rem;
}

.Drawer__button span {
  color: var(--darkWhite);
  margin-top: 10px;
}

.Drawer__LeagueList {
  width: 100%;
  height: 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  font-size: 1rem;
  overflow: hidden;
  transition: height 1s ease-in;
}

.Drawer__LeagueList__sport {
  width: 65vw;
  color: var(--white);
  padding: 2vh 0;
  border-top: 1px solid rgb(158, 158, 168, .3);
  background-color: rgba(0, 20, 41, 1);
}

.Drawer__LeagueList__sport a:last-child {
  border-bottom: 1px solid rgb(158, 158, 168, .3);
}

.Drawer__button__notie {
  position: relative;
}

.Drawer__button__notification {
  color: var(--white);
  border: 1px solid var(--white);
  background-color: red;
  border-radius: 50%;
  position: absolute;
  padding: 4px 8px;
  left: 57%;
  top: -5%;
}

.Drawer__hamburger {
  position: absolute;
  top: 4vw;
  left: 4vw;
  color: var(--white);
  font-size: 1.7rem;
  transition: all 0.8s;
  transform: translateX(0vw);
  z-index: 25;
}

.Drawer__hamburger__open {
  transition: all 0.8s;
  transform: translateX(50vw);
}

.Drawer__drawer__open {
  transition: all 0.8s;
  transform: translateX(65vw);
}