.ProfilePage {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to left, rgba(0,82,140,1) 0%, rgba(0,44,93,1) 86%, rgba(0,38,82,1) 100%);
}

.ProfilePage__picture {
  width: 100px;
  height: 100px;
  margin-top: 13vh;
  border-radius: 50%;
}

.ProfilePage__picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.ProfilePage__name {
  margin-top: 2vh;
  color: var(--white)
}

.ProfilePage__score {
  margin-top: 5vh;
  color: var(--white);
  font-size: 3.5rem;
  font-weight: bold;
}


.ProfilePage__all__scores {
  width: 70vw;
  margin-top: 6vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.ProfilePage__sport__score {
  margin: .4rem;
}

.ProfilePage__sport__score__single {
  color: var(--white);
  font-size: 1.7rem;
  font-weight: bold;
}

.ProfilePage__sport__name__single {
  color: var(--darkWhite);
  font-size: .7rem;
}

.ProfilePage__stats{
  width: 100vw;
  height: 30vh;
  background-color: blue;
  overflow: hidden;
}

.ProfilePage__stats img {
  width: 100%;
}
